"" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
"" https://news.ycombinator.com/item?id=24065687
"" https://goudham.me/my-second-brain/my-ideavim-config.html
"" :actionlist to get list of available actions

"" Set Handlers
sethandler <S-Tab> a:vim
sethandler <C-A> a:ide
sethandler <C-C> a:ide
sethandler <C-D> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <A-J> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-Q> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:ide

let mapleader=" "

"" "“smart-join” strings, control structures, and others
set ideajoin

"" makes the behavior of refactorings such as renamings more deterministic
set idearefactormode=keep

set clipboard+=unnamed
set clipboard+=ideaput

"" determines the number of context lines you would like to see above and below the cursor
set scrolloff=5

set incsearch
set ignorecase smartcase
set number relativenumber
set hls

"" Don't use Ex mode, use Q for formatting.
map Q gq

map \r  <Action>(IdeaVim.ReloadVimRc.reload)

"" navigate history
map <c-o> <Action>(Back)
map <c-i> <Action>(Forward)

"" split editor window
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>

"" refactoring
map <c-t> <Action>(Refactorings.QuickListPopupAction)
map <leader>t <Action>(Refactorings.QuickListPopupAction)

"" terminal
map <leader>` <Action>(ActivateTerminalToolWindow)
map <leader><leader>` <Action>(Terminal.OpenInTerminal)

"" file navigation
map <leader>i <Action>(ShowNavBar)
map <leader><leader>i <Action>(ShowFilePath)

map <leader>m <Action>(MainMenu)

"" bye bye
map <leader>qq <Action>(CloseContent)
map <leader>qa <Action>(CloseAllEditors)
map <leader>hh <Action>(HideAllWindows)

map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gu <Action>(ShowUsages)

map <leader>z <Action>(ToggleDistractionFreeMode)<CR>
