"" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
"" https://news.ycombinator.com/item?id=24065687
"" https://goudham.me/my-second-brain/my-ideavim-config.html
"" :actionlist to get list of available actions

let mapleader=" "

set ideajoin
set idearefactormode=keep
set clipboard+=unnamed
set clipboard+=ideaput

set scrolloff=5
set incsearch
set ignorecase smartcase
set number relativenumber
set hls

" Don't use Ex mode, use Q for formatting.
map Q gq

map \r  <Action>(IdeaVim.ReloadVimRc.reload)

"" navigate history
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

"" refactoring
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
map <leader>rt <Action>(Refactorings.QuickListPopupAction)

"" terminal
map <leader>tt <Action>(ActivateTerminalToolWindow)
map <leader>to <Action>(Terminal.OpenInTerminal)


"" file navigation
map <leader>ff <Action>(GotoFile)
map <leader>f/ <Action>(FindInPath)
map <leader><leader> <Action>(ShowNavBar) 

map <leader>mm <Action>(MainMenu)

"" bye bye
map <leader>qq <Action>(CloseContent)
map <leader>qa <Action>(CloseAllEditors)
map <leader>hh <Action>(HideAllWindows)

map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
