<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.andrew.gettingstarted.universalactions</string>
	<key>connections</key>
	<dict>
		<key>0878B7D0-8F4E-4865-96D8-287F308BB391</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F3F47B1-A34C-46ED-963E-F0CD2E0422D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0AE19D08-8D40-4BAF-BC2B-9A7570EFD907</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8166D4A1-F186-47F1-9273-951D222126EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>154A8E2A-EB70-48AF-AE08-0318EC60A8E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D8821B6-F290-466A-9B1A-8E5FAB779D41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B36B053-CBC7-4821-8309-26D33B1C946A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F8A6BA6-19EA-44A0-9FFB-545E85193F42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D8821B6-F290-466A-9B1A-8E5FAB779D41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F20F83F-BBFF-458F-967E-9D5C18542946</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34E0597B-03E7-4E85-A8F9-B53E50DBBCE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E0CF83D-48C4-418B-910E-B260F1CB32E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADF708A4-D0BF-4B00-8530-A37F4127ACCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADF708A4-D0BF-4B00-8530-A37F4127ACCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27192179-832A-4EA1-A776-7991CEB6CE31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C14E91F7-6754-44BA-9541-0B55368DAD4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553D0ACA-AE9E-475F-A9BB-576BB20C4479</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Pepperrell</string>
	<key>description</key>
	<string>Some basic Universal Action integration examples</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Universal Actions Integration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>[{query}]</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>34E0597B-03E7-4E85-A8F9-B53E50DBBCE8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>[ ]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>({query})</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>553D0ACA-AE9E-475F-A9BB-576BB20C4479</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>( )</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C14E91F7-6754-44BA-9541-0B55368DAD4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>{ }</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>2B36B053-CBC7-4821-8309-26D33B1C946A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F8A6BA6-19EA-44A0-9FFB-545E85193F42</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F20F83F-BBFF-458F-967E-9D5C18542946</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>ABC</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>154A8E2A-EB70-48AF-AE08-0318EC60A8E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>6D8821B6-F290-466A-9B1A-8E5FAB779D41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{{query}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>27192179-832A-4EA1-A776-7991CEB6CE31</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>abc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>9E0CF83D-48C4-418B-910E-B260F1CB32E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>ADF708A4-D0BF-4B00-8530-A37F4127ACCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>` `</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>0AE19D08-8D40-4BAF-BC2B-9A7570EFD907</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>`{query}`</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8166D4A1-F186-47F1-9273-951D222126EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>[{query}](...)</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3F3F47B1-A34C-46ED-963E-F0CD2E0422D8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>[ ] ( )</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>0878B7D0-8F4E-4865-96D8-287F308BB391</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Universal Actions let you take any text, URLs or files and perform actions on them from anywhere on your Mac.

This workflow shares various ways of using Universal Actions:

1. The "Trim text" action will appear in your Actions panel for text-based selections. Choosing it will trim white spaces at the beginning and end of the text you copied. Holding ⌘ (Cmd) while pressing return will take the alternative path, where your text will be uppercased.

In both cases, you then return to Alfred's Actions panel with your newly transformed text.

2. Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey. 

Using this hotkey will bring up the Action panel, pre-populated with your clipboard contents.

3. Add Universal Actions as an Alfred Fallback Search result.</string>
	<key>uidata</key>
	<dict>
		<key>0878B7D0-8F4E-4865-96D8-287F308BB391</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1210</integer>
		</dict>
		<key>0AE19D08-8D40-4BAF-BC2B-9A7570EFD907</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>154A8E2A-EB70-48AF-AE08-0318EC60A8E6</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>27192179-832A-4EA1-A776-7991CEB6CE31</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>2B36B053-CBC7-4821-8309-26D33B1C946A</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>34E0597B-03E7-4E85-A8F9-B53E50DBBCE8</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>3F3F47B1-A34C-46ED-963E-F0CD2E0422D8</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1210</integer>
		</dict>
		<key>553D0ACA-AE9E-475F-A9BB-576BB20C4479</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>6D8821B6-F290-466A-9B1A-8E5FAB779D41</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>7F20F83F-BBFF-458F-967E-9D5C18542946</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>7F8A6BA6-19EA-44A0-9FFB-545E85193F42</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>8166D4A1-F186-47F1-9273-951D222126EC</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>9E0CF83D-48C4-418B-910E-B260F1CB32E5</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>ADF708A4-D0BF-4B00-8530-A37F4127ACCE</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>855</integer>
		</dict>
		<key>C14E91F7-6754-44BA-9541-0B55368DAD4E</key>
		<dict>
			<key>note</key>
			<string>Don't forget to hint to Alfred not to close in the connection config</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
